html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}


.wrapper {          /* ana govde icindeki div tanimliyor*/
    margin: 0 auto; /* div icerigini sayfa icine ortalar*/
    /* border:  solid red; */
    width: 80%;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 05.rem;
}

.rightheader {
    flex-basis: 60%;
    padding-left: 0.5rem;
    margin-top: 3.75rem;
}

.rightheader h1 {
    margin: 0;
    color: #DA0090;
    font-size: 3rem;
}

.rightheader p {
    margin-top: -0.5rem;
}

nav {
    border-top: 1px solid #0057da;
    border-bottom: 1px solid #0028da;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
    color: orange;
    padding: 0.5rem 1rem;

}

nav a:hover {
    background-color: #001dda;
    color: white;
    text-decoration: none;
}

article {
    margin: 2rem 0;
}

article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}

article::after {
    content: "";
    display: table;
    clear: both;
}

section {
    border-bottom: solid #0099da; /* footer bolumunden once gelen section bolumunun altina cizgi cektik*/
    margin-bottom: 0.3rem; /* section ve foother arasina bosluk biraktik*/
}

footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: solid #0f00da; /* footer bolumunun ustune cizgi cektik*/
}

/* footer bolumundeki likleri yan yana getirmek icin */
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer li {
    display: inline-block;
}

.logo {
    border-radius: 40%;
    height: 150px;
    width: 150px;
}

p {
    text-align: justify;
}

/* Dropdown Content (Hidden by Default) */
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }



  fieldset {
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  legend {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: block;
    font-family: "Shadows Into Light", cursive;
  }
  
  label {
    display: inline-block;
    padding: 0.3rem;
  }
  
  textarea {
    height: 10rem;
    padding: 1rem;
  }
  
  button:hover {
    color: #7079d8;
    background-color: white;
  }
  